/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.admin-sidebar {
  position: fixed;
  left: 0;
  width: 270px;
  height: 100%;
  background-color: #fff;
  z-index: 3;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.page-content {
  width: calc(100% - 272px);
  margin-left: auto;
  padding: 18px 20px;
}

.humburger-menu {
  display: none;
}

.humburger-menu div {
  width: 27px;
  height: 4px;
  background-color: #000;
  border-radius: 50px;
}

.humburger-menu div:nth-child(2) {
  margin: 4px 0;
}

.side-connect-btn {
  display: none;
}

/* Media Queries (998px) Starts Here */
@media (max-width:991px) {
  .connect-btn {
    display: none;
  }

  .side-connect-btn {
    display: block;
  }

  .humburger-menu {
    display: block;
    cursor: pointer;
  }

  .page-content {
    width: 100%;
    margin: 0 auto;
  }
}

/* Media Queries (998px) Ends Here */