/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
table thead tr th,
table tbody tr td {
  white-space: nowrap;
}

.select-border {
  border: 1px solid #eee;
  border-radius: 4px;
  height: 39px;
}

.select-border:focus-visible {
  outline: 0;
}

.searchBox {
  width: 100%;
}

.filter-section::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #4d4d4d;
}

.filter-section::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.filter-section::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #7c7c7c;
}

.admin-sidebar {
  position: fixed;
  left: 0;
  width: 270px;
  height: 100%;
  background-color: #2a2a2a;
  z-index: 3;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.img-container {
  min-height: 350px;
}

.img-container a img {
  min-height: 350px;
  max-height: 350px;
  object-fit: cover;
}

.page-content {
  width: calc(100% - 272px);
  margin-left: auto;
  padding: 18px 20px;
}

.humburger-menu {
  display: none;
}

.humburger-menu div {
  width: 27px;
  height: 4px;
  background-color: #000;
  border-radius: 50px;
}

.humburger-menu div:nth-child(2) {
  margin: 4px 0;
}

.side-connect-btn {
  display: none;
}

.filter-section {
  padding-bottom: 170px;
}

.loader-width {
  width: 155px;
  white-space: nowrap;
}

.signout-actions {
  height: 100%;
  margin: 15px 10px 0 10px;
}

/* Wallet Modal Starts Here */
.wallet-modal {
  border-radius: 5px;
  display: flex;
}

.wallet-modal .top_row {
  display: flex;
  border-radius: 5px;
}

.wallet-modal .top_row .left {
  padding: 55px;
  text-align: center;
  border-right: 2px solid #000;
}

.wallet-modal .top_row .left:hover {
  background-color: #4d4d4d;
}

.wallet-modal .top_row .left div:first-child {
  margin-top: 20px;
  cursor: pointer;
}

.wallet-modal .top_row .left div:first-child img {
  margin: 0 auto;
}

.wallet-modal .top_row .left div:last-child {
  font-size: 18px;
  font-weight: 700;
  margin-top: 6px;
}

.wallet-modal .top_row .right {
  padding: 55px;
  text-align: center;
  cursor: pointer;
}

.wallet-modal .top_row .right:hover {
  background-color: #4d4d4d;
}

.wallet-modal .top_row .right div:first-child {
  margin-top: 25px;
}

.wallet-modal .top_row .right div:first-child img {
  margin: 0 auto;
}

.wallet-modal .top_row .right div:last-child {
  font-size: 18px;
  margin-top: 23px;
  font-weight: 700;
}

.mt-none {
  margin-top: 0 !important;
}

.wallet-title {
  margin-top: 27px !important;
}

.close-wallet {
  background: #ffffff;
  color: #000000;
  position: absolute;
  top: -10px;
  right: 0;
  border-radius: 50%;
  padding: 6px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  border: 2px solid darkgrey;
}

.connection-modal {
  display: grid !important;
  grid-template-columns: 50% 50%;
}

/* Wallet Modal Ends Here */
.input-border input {
  border-radius: 10px;
  border: 1px solid rgb(229, 232, 235);
}



.input-border:focus,
.input-border:focus-visible,
textarea:focus,
textarea:focus-visible {
  outline: none;
  border-width: 0.1px !important;
  border-color: rgb(118 118 118) !important;
  box-shadow: rgb(78 78 78 / 30%) 0px 0px 0px 2pt !important;
}

.input-border input::placeholder {
  color: #899096;
}

:-ms-input-placeholder {
  color: #899096;
}

::-ms-input-placeholder {
  color: #899096;
}

.nft-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nft-desc:hover {
  overflow: visible;
  white-space: normal;
}

/* Events Page Starts Here */
.event-container {
  max-width: 90%;
  margin: 0 auto;
}

.event-section {
  margin: 60px 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
}

.event-card {
  border-radius: 12px;
  width: 100%;
  margin: 30px 0;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.event-card a img {
  width: 100%;
  border-radius: 12px 12px 0 0;
  min-height: 350px;
  max-height: 350px;
  object-fit: cover;
}

.event-card-details {
  padding: 10px;
}

.description-section .card-img img {
  /* width: 100%; */
  /* height: 70%; */
  border-radius: 12px 0 0 12px;
  /* min-height: 350px;
  max-height: 350px; */
  object-fit: cover;
  background: #e5e5e5;
}

.description-section {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 32px;
  margin-top: 30px;
  border-radius: 12px;
}

.list-nft {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 15px;
}

input#file-input {
  background: #d7d7d7;
  border-radius: 2px;
  margin-bottom: 2px;
}

.upload-modal-container img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  margin: 0 auto;
}

/* Events Page Ends Here */

/* Media Queries (min-width: 1500px) Starts Here */
@media (min-width: 1500px) {
  .img-container {
    min-height: 430px;
  }

  .img-container a img {
    min-height: 430px;
  }
}

/* Media Queries (min-width: 1500px) Ends Here */


/* Media Queries (991px) Starts Here */
@media (max-width:991px) {
  .connect-btn {
    display: none;
  }

  .side-connect-btn {
    display: block;
  }

  .humburger-menu {
    display: block;
    cursor: pointer;
  }

  .page-content {
    width: 100%;
    margin: 0 auto;
  }
}

/* Media Queries (991px) Ends Here */

/* Media Queries (640px) Starts Here */
@media (max-width:640px) {
  .wallet-modal .top_row {
    display: block;
  }

  .wallet-modal .top_row .left {
    border-bottom: 2px solid #000;
    border-right: 0;
  }

  .wallet-modal .top_row .left div:first-child {
    margin-top: 0;
  }

  .wallet-modal .top_row .right div:first-child {
    margin-top: 0;
  }

  .connection-modal {
    display: grid !important;
    grid-template-columns: 100%;
  }

  .event-container {
    max-width: 98%;
    margin: 0 auto;
  }

  .event-card {
    margin: 15px 0;
  }

  .event-section {
    grid-template-columns: auto;
    margin: 0 0 50px 0;
    grid-gap: 0px;
  }

  .description-section {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 32px;
    margin-top: 30px;
  }

  .description-section .card-img img {
    border-radius: 12px 12px 0 0;
  }

  .list-nft {
    grid-template-columns: 100%;
  }
}

/* Media Queries (640px) Ends Here */