@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.logo{
  font-family: 'Dancing Script', cursive;
}

input[type="text"], textarea{
  border-radius: 10px;
  border: 1px solid rgb(229, 232, 235);
}

input[type="text"]::placeholder, textarea::placeholder{
  color: #99a0a7 !important;
}

input:focus, 
input:focus-visible,
textarea:focus, 
textarea:focus-visible{
  outline: none;
  border-width: 0.1px !important;
  border-color: rgb(118 118 118) !important;
  box-shadow: rgb(78 78 78 / 30%) 0px 0px 0px 2pt !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu{
  background: linear-gradient(360deg, rgba(84,84,84,.9) 41%, rgba(31,31,31,1) 63%, rgba(0,0,0,1) 100%);
}

.white-shadow{
  box-shadow: rgb(255 255 255 / 30%) 0px 0px 0px 2pt !important;
}

.ReactModal__Overlay{
  z-index: 20; 
  display: grid;
  place-items: center;
  background-color: rgb(27 27 27 / 75%) !important;
}

.card:hover{
    transition: all 0.2s ease 0s;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    background-color: rgb(251, 253, 255);
}

.filter-btn{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 21;
}

.filter-btn svg{
  pointer-events: all;
  margin-right: 108px;
}

.px--6{
  padding-left: 6%;
  padding-right: 6%;
}

.h-header-img{
  height: calc(100vh - 75px);
}

.h-header{
  height: calc(100vh - 75px);
}

@media(max-width: 1024px){
  .h-header{
    height: auto;
  }
  .h-header-img{
    height: 500px;
  }
  .px--6{
    padding-left: unset;
    padding-right: unset;
  }
  .top-75{
    top: 75px;
  }
}

.bg-filter{
  background-color: #565656;
}

.slider {
  position: relative;
  width: 200px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #fff;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #fff;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #dee2e6;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

.w-205{
  width: 12.813rem;
}

.py-99{
  padding-top: 6.1875rem;
  padding-bottom: 6.1875rem;
}

.header-btn{
  width: 160px;
    height: 40px;
    border-radius: 12px;
    margin-top: 22px;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  box-shadow: none;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.dropdown-menu li:hover ~ .dropdown-img-container{
  opacity: 1;
}

.dropdown-img-container{
  transition: 0.3s ease-in;
  opacity: 0;
  background: red;
  width: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -199px;
}

.dropdown-img{
  width: 100%;
  height: calc(100% - 28px);
  background: green;
  background-image: url('https://picsum.photos/600/400/?random');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav .links-container > li span,
.link-btn{
  position: relative;
}

nav .links-container > li span::before,
.link-btn::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background: #CEC875;
  opacity: 0;
}

nav .links-container > li span:hover::before,
.link-btn:hover::before {
  animation: link-animation 0.4s linear;
}

@keyframes link-animation {
  0%   {opacity: 0;  right: 10px;}
  55%  {opacity: 0.8}
  99% {opacity: 1;  right: -6px;}
  100% {opacity: 1;  right: 10px;}

}